.dashboard-container{
    position: fixed;
    width: 80vw;
    height: 80vh;
    
    top: 15vh;
    left:10vw;
    
    background: rgba(210, 216, 217, 0.26);
    backdrop-filter: blur(2px);

    border-radius: 42px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.response-container{
    text-align: center;

    width: 750px;
    height: 73px;

    background: #FFFFFF;
    border-radius: 125px;
    border: none;

    font-size: 26px;
}

button{
    top: 300px;
    right: 240px;
    position:fixed;
    border:none !important;
    background-color: none;
    border-radius:50px;
    background-color: #FFFFFF;
}

button img{
    width: 60px
}

button:hover{
    cursor:pointer;
}

.fade-away{
    font-weight: 500;
    background: linear-gradient(180deg, #296DD5 0%, rgba(255, 255, 255, 0) 100.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.classification{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.clock-container{
    position: fixed !important;
}